<div class="login-container">

  <form #signupForm="ngForm" (ngSubmit)="signup()" class="login-card">

    <h2>Sign Up</h2>

    <input
      type="email"
      placeholder="Email"
      name="email"
      [(ngModel)]="email"
      required
      email
      #emailInput="ngModel"
    />

    <div class="error" *ngIf="emailInput.invalid && emailInput.touched">
      Enter a valid email
    </div>

    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      required
      minlength="6"
      #passwordInput="ngModel"
    />

    <div class="error" *ngIf="passwordInput.invalid && passwordInput.touched">
      Password must be at least 6 characters
    </div>

    <input
      type="password"
      placeholder="Confirm Password"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
    />

    <button type="submit" [disabled]="signupForm.invalid">
      Sign Up
    </button>

    <p class="signup-link">
      Already have an account?
      <a routerLink="/">Login</a>
    </p>

  </form>

</div>