.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; 
  padding: 12px 24px;
  background-color: #111;
  border-bottom: 1px solid #222;
  overflow: hidden; 
}

.logo {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: white;
}

.nav-links a.active {
  color: #ff9800;
  font-weight: 500;
}
.logout-btn {
  background: transparent;
  border: 1px solid #ff9800;
  color: #ff9800;
  padding: 1px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: #ff9800;
  color: black;
}

.logo-img {
  height: 50px;             /* bigger than navbar */
  transform: scale(1.5);     /* optional boost */
  transform-origin: left center;
  pointer-events: none;      /* optional */
}